# Node modules
node_modules/

# Build output
dist/
pkg/

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
